@tailwind base;
@tailwind components;
@tailwind utilities;

/* Oval Scrolling */
@keyframes oval-scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(0px); /* Adjust the width of the oval */
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animate-oval-scroll {
    animation: oval-scroll 10s linear infinite;
    display: flex;
    gap: 0rem; /* space between the cards */
  }
  